<h1>{{homeCtrl.message}}</h1>
<div>
    Hello friends here we are trying to create more learn over create a website.
    Lets see how much learning we get over here by doing this dummy project.
    <br />
    Below are the things we are learning:
</div>
<ul>
    <li>Database connection</li>
    <li>Reading tables content from database in WebService</li>
    <li>Creating WebService in C#</li>
    <li>Developing web pages using AngularJS</li>
    <li>Taking good help of CSS</li>
    <li>Looking forward to learn and setup framework</li>
    <li>And developing our own application</li>
</ul>